<div class="container">
    <div class="header mt-3">
        <h2 class="products-title">Products</h2>
        <button routerLink="/vendor/nav/add-product" class="addpro" mat-raised-button color="primary">Add
            Product</button>
    </div>
    <div class="mat-elevation-z8 mt-3">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element; let i=index">
                    <img [src]="getProductImage(element.image ? element.image: '')" alt="product image" style="width: 50px; height: 50px; border-radius: 50%;">
                </td>
            </ng-container>
            
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <!-- <button mat-icon-button color="primary">
                        <mat-icon>edit</mat-icon>
                    </button> -->
                    <button mat-icon-button color="primary">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
        <div>
        </div>