<div class="login-container">
    <div class="login-box">
        <h2>Register</h2>
        <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <mat-form-field class="login-form" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input formControlName="username" type="text" matInput placeholder="Enter your username">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="password-form" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" type="email" matInput placeholder="Enter your mailid">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="password-form" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" type="password" matInput placeholder="Enter password">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="password-form" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input formControlName="cpassword" type="password" matInput placeholder="Enter confirm password">
                </mat-form-field>
            </div>
            <button type="submit" class="login-button">Register</button>
            <div class="mt-2">
                <p><strong>Already registered?</strong><a class="mx-1" routerLink="/vendor">Login</a></p>
            </div>
        </form>
    </div>
</div>